@import "../../App.scss";

.input-form {

  grid-gap: 16px;
  display: grid;
  grid-template-columns: 100px 400px;
  grid-template-rows: minmax(50px, auto);

  grid-template-areas:
    "a b"
    "c d"
    ". e";
}



.grid-one {
  grid-area: a;
  align-self: center;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.grid-two {
  grid-area: b;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.grid-three {
  grid-area: c;

  align-self: center;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.grid-four {
  grid-area: d;

  align-self: center;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.grid-five {
  grid-area: e;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}



form input {

  background-color: $light-blue;
  border-radius: 2px;
  border-color: $light-blue;
  border-style: solid;
  padding: 6px ;
  box-shadow: $shadow-thin;
}