@import "../../App.scss";
.page-form input {
  background-color: $light-blue;
  border-radius: 2px;
  border-color: $light-blue;
  border-style: solid;
  box-shadow: $shadow-thin;

  padding: 6px;
}

.page-form {
  display: grid;
  column-gap: 15px;
  row-gap: 15px;

  grid-template-rows: minmax(50px, auto);

  grid-template-areas:
"a b 1"
"c d 2"
"e f 3"
"g h 4"
"i j 5"
". k .";
}

.grid-a {
  grid-area: a;
  align-self: center;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.grid-b {
  grid-area: b;
  align-self: center;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.grid-c {
  grid-area: c;
  align-self: center;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.grid-d {
  grid-area: d;
  align-self: center;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.grid-e {
  grid-area: e;
  align-self: center;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.grid-f {
  grid-area: f;
  align-self: center;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.grid-g {
  grid-area: g;
  align-self: center;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.grid-h {
  grid-area: h;
  align-self: center;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.grid-i {
  grid-area: i;
  align-self: center;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.grid-j {
  grid-area: j;
  align-self: center;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.grid-k {
  grid-area: k;
  align-self: center;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}


