/*
@import "../../App.scss";

.domain-form {
  grid-gap: 16px;
  display: grid;
  grid-template-columns: 200px 400px;
  grid-template-rows: minmax(50px, auto);

  grid-template-areas:
    "a b"
    "c d"
    "e f"
    "g h"
    "i j"
    ". k";
}

.grid-one {
  grid-area: a;
  align-self: center;
  background-color: orange;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.grid-two {
  grid-area: b;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: green;
}

.grid-three {
  grid-area: c;
  align-self: center;
  background-color: orange;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.grid-four {
  grid-area: d;
  align-self: center;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}



.grid-five {
  grid-area: e;
  background-color: orange;
  align-self: center;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}




.grid-six {
  grid-area: f;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.grid-seven {
  grid-area: g;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}




.grid-eight {
  grid-area: h;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.grid-nine {
  grid-area: i;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.grid-ten {
  grid-area: j;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.grid-eleven {
  grid-area: k;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: yellow;
}

form input {
  background-color: $light-blue;
  border-radius: 2px;
  border-color: $light-blue;
  border-style: solid;
  padding: 6px;
  box-shadow: $shadow-thin;
}
*/
