@import "../../App.scss";

.improvements > div {
  margin-top: 40px;
  margin-bottom: 40px;
}

.improvements-label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
}

.checkboxes {

  flex-basis: 40%;
}


.improvements-divider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

.improvements-chart {
  flex-basis: 60%;
}



.wordpress-divider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

.wordpress-chart {
  flex-basis: 60%;
}

