@import "../../App";

.pagecard-wide {
  width: $wide;

  background-color: $light-blue;
  border-radius: 5px;
  box-shadow: $shadow;
  padding: 10px 20px 20px 20px;
  min-height: 40vw;
  margin-bottom: 20px;
  margin-top: 100px;
}

.pagecard-narrow {
  width: $narrow;

  background-color: $light-blue;
  border-radius: 5px;
  box-shadow: $shadow;
  padding: 10px 20px 20px 20px;
  min-height: 40vw;
  margin-bottom: 20px;
  margin-top: 100px;
}



.flex-page{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;



}



.line {
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: #b8b8b8;
}

.content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
