@import "../../App.scss";

.square {
  background-color: $deep-purple;
  border-radius: 5px;
  border-color: $deep-purple;
  border-style: solid;
  padding: 6px ;
  box-shadow: $shadow;
  text-align: center;

  height: 200px;
  width: 200px;
}

.page-title {
 color: $light-blue;
font-size: 60px;
}
