@import "../../App.scss";

.account {
  width: 100%;
}

.account > div {
  margin-top: 40px;
  margin-bottom: 40px;
}

.account-avatar {
  height: 100px;
  width: 100px;
  background-color: $error-red;
  border-radius: 50%;
}

.account-divider {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}


.user{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}
.username-text {
  text-align: center;
}
