@import "../../App.scss";

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $light-blue;
    padding: 0 20px;
    box-shadow: $shadow;
    height: 50px;
    margin-bottom: 2px;
}


.nav-links{
    background-color: $light-blue;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 50px;

}



.home-link{
    background-color: $light-blue;
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    gap: 50px;
    height: 40px;
}

.current-link {
   border-bottom: solid 4px $deep-purple;
    height: 40px;

}


b {
    color: black
}