@import url("https://fonts.googleapis.com/css2?family=Economica:ital,wght@1,700&family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@400;700&family=Saira+Extra+Condensed&display=swap");

$deep-purple: #6214fd;
$shallow-purple: #7d72ff;
$light-blue: #f8feff;
$error-red: #ff270b;

$narrow: 635px;
$wide: 985px;

$shadow: 3px 3px 3px 1px rgba(19, 18, 18, 0.5);
$shadow-thin: 1px 1px 3px 1px rgba(19, 18, 18, 0.5);

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $shallow-purple;
  margin: 0 0 5vh 0;
}



h1 {
  font-family: "Open Sans Condensed", bold, sans-serif;
  font-size: 45px;
}

h2 {
  font-family: "Open Sans Condensed", bold, sans-serif;
  font-size: 30px;
}

h3 {
  font-family: "Open Sans Condensed", bold, sans-serif;
  font-size: 20px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

fieldset{
display: block;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-block-start: 0px;
padding-inline-start: 0px;
padding-inline-end: 0px;
padding-block-end: 0px;
min-inline-size: min-content;
border-width: 0px;
border-style: none;
border-image: none;}

button a {
  color: $light-blue;
  text-decoration: none;
}

a{
  color: $deep-purple;
}